html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: inherit;
    min-height: 100%;
}

:focus
{
    outline: none;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

#root {
    -ms-flex-order: 2;
    order: 2;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.30);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    min-width: 10px;
}
